.form-active label:hover
{
    cursor: pointer;
    background-color: rgba(34, 178, 199, 0.3);
}

.form-active [type=radio]
{
    display: none;
}

.form-active [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
