.form-active
{
    border: 1px solid black;
    margin: 35px 0;
    margin-right: 10px;
    width: 18%;
}

.form-active__container
{
    margin-left: 10px;
}

.form-active__container div
{
    margin-top: 20px;
}

.form-active label
{
    padding: 5px;
}

.form-active label:hover
{
    cursor: pointer;
    background-color: rgba(34, 178, 199, 0.3);
}

.form-active [type=radio]
{
    display: none;
}

.form-active [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
