.stock-selections-form {
  margin: 10px;
  padding-top: 10px;
}

.stock-selections-ul {
  min-height: 40px;
  max-height: 460px;
  overflow: scroll;
}

.active-selection:hover {
  cursor: pointer;
}

.delete-icon-container {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}
