.stock-selections-ul {
  max-height: 170px;
  min-height: 40px;
  overflow: scroll;
}

.active-selection:hover {
  cursor: pointer;
}

.delete-icon-container {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}
