.card
{
    margin: 10px;
}

.active-form
{
    padding: 10px;
}

.field-container
{
    padding: 5px 0;
}

.field-container label
{
    padding: 5px;
}

.field-container [type=radio]
{
    display: none;
}

.field-container label:hover
{
    cursor: pointer;
    background-color: rgba(34, 178, 199, 0.3);
}

.field-container [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
