.section-container
{
    position: fixed;
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ced4da;
}

.section-container__selection
{
    margin: 10px;
}

.section-container__selection-info
{
    text-align: center;
    padding: 10px;
}

.section-container__form
{
    margin: 10px;
}

.section-container__messages
{
    //height: 50vh;
    //overflow-y: scroll;
}

.section-container__table
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 70%;
    margin-left: auto;
    margin-top: 50px;
}

@media (max-width: 600px)
{
    .section-container
    {
        width: 100%;
        display: initial;
    }
}
