.section-forms
{
    margin-top: 70px;
}

.section-data
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.section-data__active-data
{
    margin: 0 auto;
}

//@media (min-width: 700px)
//{
//}
