.sidebar-container
{
    margin-top: 60px;
}

.sidebar
{
    position: fixed;
    height: 100vh;
    width: 30%;
    border-right: 1px solid rgba(204, 204, 204, 0.25);
}

.sidebar-toggler
{
    position: absolute;
    right: -33px;
    z-index: 1;
    border: 1px solid rgba(204, 204, 204, 0.25);
    border-left: 0;
    padding: 5px;

    &:hover { cursor: pointer; }
}

.sidebar-content
{
    width: 70%;
    margin-left: auto;
}

.is-open
{
    left: -30%;
}
