$time: 1s;

.loader-container {
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.loader-icon {
  display: flex;
}

#block1,
#block2,
#block3,
#block4 {
  animation: loader $time linear infinite;
  margin: 5px;
  height: 50px;
  width: 50px;
}

#block1 {
  background: #22b2c7;
}

#block2 {
  background: #dda4a7;
  animation-delay: -($time / 4);
}

#block3 {
  background: #a2ad66;
  animation-delay: -($time / 4) * 2;
}

#block4 {
  background: #000;
  animation-delay: -($time / 4) * 3;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
