@import '../../sass/font-sizes.scss';

.company-info-container {
  margin-left: 30px;
  padding-top: 15px;
}

.company-info-container p {
  margin: 0;
}

.company-name {
  font-size: $font-mid;
}

//.trend-up {
//  color: #19be87;
//}
//
//.trend-down {
//  color: #f72121;
//}
