.button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.button:hover {
  height: 40px;
  width: 40px;
  background-color: #bdbdbd;
  opacity: 0.5;
  border-radius: 50%;
}
