// Container for user selections
.user__selection-container
{
    text-align: center;
    //box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    //background-color: #5CA4EA;
}

// Form element containing selection options
.user__selection
{
    padding: 10px;

    select
    {
        border: 0;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        width: 180px;
        height: 20px;
    }
}
