.form-select
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
}

.form-daily__container-option,
.form-monthly__container-option
{
    padding: 5px;
}

.form-select label:hover
{
    cursor: pointer;
    background-color: rgba(221, 164, 167, 0.3);
}

.form-monthly__container-option label
{
    border-right: 1px solid black;
}

.form-monthly__container-option label,
.form-daily__container-option label
{
    display: block;
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.form-select [type=radio]
{
    display: none;
}

.form-select [type=radio]:checked ~ label
{
    background-color: rgba(221, 164, 167, 1);
    color: white;
}
