.main-footer
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgb(162, 173, 102);
    padding: 20px 0;
}

.main-footer__cta,
.main-footer__disclaimer
{
    padding: 10px;
}

@media (max-width: 400px)
{
    .main-footer a
    {
        display: none;
    }
}
