.main-footer {
  padding: 50px 20px;
  color: #bbbcbe;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #dda4a7;
  }
}

.developed-by {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    margin-left: 15px;
  }
}
