.main-footer
{
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #222;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.main-footer div
{
    margin-left: 20px;
}

.main-footer p a
{
    color: orange;
    text-decoration: underline;
}
