.dropped-stock
{
    display: flex;
    justify-content: space-between;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 18px;
    width: 90%;
}

.dropped-stock__message--toggler
{
    opacity: 0.5;
}

.dropped-stock__message--toggler:hover
{
    color: black;
    cursor: pointer;
}
