.dropped-stock
{
    display: flex;
    justify-content: space-between;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-radius: 4px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 90%;
}

.dropped-stock__message--toggler
{
}
