// User form input container
.user__form-container
{
    //padding: 20px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #5CA4EA;
}

// User form
.user__form
{
    padding: 10px;
    text-align: center;
}

// User form input
.user__form-input
{
    min-width: 30%;
    max-width: 70%;
    padding: 5px;
    text-align: center;
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
    border: 0;
}

// User form submit
.user__form-submit
{
    width: 50px;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px;
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);

    &:hover
    {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
