.section__form
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30px;
    border: 2px salmon solid;
    padding: 30px;
}

.section__form-btn
{
    width: 10%;
    border: 0px;
    color: black;
    background-color: salmon;
    text-transform: uppercase;
    &:hover
    {
        opacity: 0.5;
    }
}

#section__form-input
{
    border-top: 2px salmon solid;
    border-bottom: 2px salmon solid;
    border-left: 0px;
    border-right: 0px;
    width: 60%;
    text-align: center;
}