// Form container
//.section-home__form__container
//{
//}

// Form element
.section-home__form
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
}

// Form children
.section-home__form-input
{
    width: 20em;
    text-align: center;
}

.section-home__form-input input
{
    width: 20em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.section-home__form-submit
{
    width: 20em;
    text-align: center;
}

.section-home__form-submit input
{
    width: 20em;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: black;
    text-transform: uppercase;

    &:hover
    {
        border-color: white;
        background-color: black;
        color: white;
    }
}