.main-form
{
    flex-grow: 0.9;
}

.main-form__input,
.main-form__btn
{
    padding: 8px;
    font-size: 1rem;
}

.main-form__input,
{
    width: 80%;
    border: 1px solid #ced4da;
    border-right: 0;
}

.main-form__btn
{
    border: 1px solid #ced4da;
    width: 10%;
}

.main-form__btn:hover
{
    cursor: pointer;
    background-color: #dda4a7;
}

@media screen and (max-width: 500px)
{
    .main-form
    {
        display: flex;
    }

    .main-form__btn
    {
        width: 20%;
    }
}
