.stock-list {
  width: 160px;
}

.stock-header {
  padding: 7px;
}

.stock-list [type='radio'] {
  display: none;
}

.stock-list [type='radio']:checked + .stock-list__label {
  color: #3367d6;
  background-color: var(--lrnz-active-blue);
}

.stock-list__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;

  &:hover {
    background-color: var(--lrnz-active-blue);
    cursor: pointer;
  }
}
