.list-container {
  height: 335px;
  width: 200px;
  border-radius: 2px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.list-container:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.stock-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.stock-header__name {
  padding: 10px 5px;
  margin: 0;
}

.stock-list {
  max-height: calc(100% - 36px);
  overflow: scroll;
}

.stock-list [type='radio'] {
  display: none;
}

.stock-list__container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.stock-list__container:nth-last-of-type(1) {
  border-bottom: 0;
}

.stock-list__container,
.stock-list__label {
  height: 50px;
}

.stock-list__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.stock-list [type='radio']:checked + .stock-list__label {
  color: #3367d6;
  background: rgba(161, 194, 250, 0.16);
}

.stock-list__btn {
  background-color: #ef0073;
  border: 1px solid #ef0073;
  border-radius: 0.25rem;
  color: white;
  text-align: center;
  width: 40px;
}

.stock-list__btn:hover {
  box-shadow: inset 20rem 20rem rgba(26, 40, 49, 0.05);
}
