.stocks-table
{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    border-right: 0;
    border-bottom: 0;
    margin-top: 20px;
}

.stocks-table thead
{
    display: block;
    border-bottom: 1px solid black;
}

.stocks-table th
{
    min-width: 100px;
    border-right: 1px solid black;
    padding: 3px;
}

.stocks-table tbody
{
    display: block;
}

.stocks-table td
{
    min-width: 100px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

.stocks-table__cols--hide
{
    display: none;
}
