// Table element
table
{
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-collapse: collapse;

    // Style table columns and table rows
    thead
    {
        display: block;
    }

    th
    {
        background-color: beige;
        min-width: 110px;
        color: black;
        font-weight: 100;
        border: 1px solid gray;
        padding: 5px;
    }

    td
    {
        min-width: 110px;
        padding: 5px;
        border: 1px solid gray;
    }

    tbody
    {
        display: block;
        height: 400px;
        overflow-y: scroll;
    }

    // Applies while under 320 pixels
    @media (max-width: 450px)
    {
        #hide{ display: none; }
    }
}
