.stock-fetcher-container {
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.stock-form {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 36px;
  border: 1px solid #dee7f1;
  background-color: #f7f8fb;
  width: 100%;
  padding-left: 8px;
}

.stock-input {
  background-color: transparent;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:required {
    box-shadow: none;
  }
}
