.stock-fetcher__form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 10px;
  padding: 0 10px;
  display: none;
  background-color: #f1f1f1;
  border-radius: 2px;
  height: 48px;
}

.stock-fetcher__input {
  width: 100%;
}

.stock-fetcher__input {
  border: 0;
  background-color: transparent;
  margin-left: 15px;
}

@media (min-width: 1024px) {
  .stock-fetcher__form {
    display: flex;
    margin: 0;
  }
}
