.content-container {
  background: #f7f8fb;
  position: relative;
}

.dashboard-nav {
  display: flex;
  align-items: center;
  height: 72px;
  border-bottom: var(--border-color-gray);
  padding: 0 16px;
  background: #fff;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

@media (min-width: 1024px) {
  .content-container {
    width: calc(100% - 280px);
    margin-left: auto;
  }

  .dashboard-nav {
    padding: 0 40px;
  }

  .dashboard-content {
    margin: 24px;
  }
}
