.form-active
{
    background-color: whitesmoke;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    border-radius: 0.25rem;
}

.form-active__container
{
    display: flex;
    padding: 10px 0;
    overflow-x: auto;
}

.form-active label
{
    padding: 10px;
    border-radius: 0.25rem;
}

.form-active label:hover
{
    cursor: pointer;
    background-color: rgba(34, 178, 199, 0.3);
}

.form-active [type=radio]
{
    display: none;
}

.form-active [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
