// Header
.main-header
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-bottom: 1px solid #343a40;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.main-header__logo--display
{
    display: none;
}

// Navigation
.main-nav
{
    padding: 20px;
    padding-top: 30px;
}

.main-nav__items
{
    display: flex;
    justify-content: space-around;
}

.main-nav__item a
{
    color: #343a40;
}

.main-nav__item a:hover
{
    color: red;
}
