// Colors
$nav-background-color: #f8f9fa;
$nav-item-color: rgba(0,0,0,.9);
$hover-color: #dda4a7;

.main-header
{
    // displays
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;

    // colors
    background-color: $nav-background-color;

    // box model
    padding: 20px;

    // position
    //position: fixed;
}

.main-header__logo
{
    // colors
    color: $nav-item-color;
}

.main-nav__items
{
    // displays
    display: flex;
    justify-content: space-around;
}

.main-nav__items a
{
    // colors
    color: $nav-item-color;
}

.main-nav__items a:hover
{
    // colors
    color: $hover-color;
}

// Mobile query
@media (max-width: 500px)
{
    .main-header
    {
        grid-template-columns: 1fr
    }

    .main-header__logo
    {
        display: none;
    }
}