.route-container,
.route-link {
  height: 40px;
}

.route-container {
  margin-top: 8px;
}

.route-container:hover {
  background: rgba(161, 194, 250, 0.16);
}

.route-label:hover {
  cursor: pointer;
}

.route-input {
  display: none;
}

// don't know why it's not working
.route-input:checked + .route-link {
  color: #3367d6;
  background: rgba(161, 194, 250, 0.16);
}

.route-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  color: #0000008a;
}

.route-label {
  margin: 11px 15px;
}

.route-label.toggled {
  display: none;
}
