.chart-selector-container
{
    // display stuff
    display: flex;
}

.chart-selector-container
{
}

.chart-selector-container div
{
    border: 1px solid rgba(204, 204, 204, 0.25);
    margin: 0 2px;
    padding: 5px 0;
}

.chart-selector-container label
{
    padding: 5px;
}

.chart-selector-container label:hover
{
    cursor: pointer;
    background-color: rgba(34, 178, 199, 0.3);
}

.chart-selector-container [type=radio]
{
    display: none;
}

.chart-selector-container [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
