.chart-selector-container
{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.chart-selector-container div
{
    //border: 1px solid black;
    padding: 5px;
}

.chart-selector-container label
{
    padding: 5px;
}

.chart-selector-container [type=radio]
{
    display: none;
}

.chart-selector-container [type=radio]:checked ~ label
{
    background-color: rgb(34, 178, 199);
    color: white;
}
