.active-chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f1f1f1;
  border-radius: 30rem;

  margin: 0 10px;
  margin-bottom: 10px;

  padding: 5px 20px;
}

.active-chart-container label {
  margin: 5px;
}
