.chart-selector-card
{
    margin: 10px;
}

.chart-selector-form
{
    display: flex;
    padding-bottom: 24px;
    justify-content: space-evenly;
}

.field-chart [type=radio]
{
    display: none;
}

.field-chart [type=radio]:checked ~ label
{
    background-color: #22b2c7;
    color: #fff;
}

.field-chart label
{
    padding: 5px 10px;
}

.field-chart label:hover
{
    cursor: pointer;
}
