.chart-container
{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 0;
}

.chart-selector-card
{
    padding: 10px;
    margin: 50px;
    margin-top: 0;
}

.chart-selector-container
{
    display: flex;
    justify-content: space-evenly;
}

.field-chart [type=radio]
{
    display: none;
}

.field-chart [type=radio]:checked ~ label
{
    background-color: #22b2c7;
    color: #fff;
}

.field-chart label
{
    padding: 5px 10px;
}

.field-chart label:hover
{
    cursor: pointer;
}
