.contact-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 50%;
}

.contact-form {
  width: 90%;
  height: 80%;
}

#contact-textarea {
  height: 100px;
}

.contact-button {
  width: 100%;
}
