.main-nav {
  display: flex;
  align-items: center;
  width: var(--lrnz-dashboard-width);
  margin-left: auto;
  height: 72px;
  background-color: var(--lrnz-palest-blue);
}

.main-nav-search {
  width: 50%;
}
