.main-content .risk-return circle
{
    opacity: 1;
}

table
{
    border-collapse: collapse;
    text-align: center;
    border-right: 0;
    border-bottom: 0;
    margin: 0 auto;
    min-height: 200px;
}

thead
{
    display: block;
    border: 1px solid #495057;
    border-left: 0;
    border-right: 0;
}

table th
{
    min-width: 150px;
    color: #495057;
    padding: 3px;
}

tbody
{
    display: block;
    max-height: 200px;
    overflow-x: scroll;
}

tbody tr:nth-of-type(odd)
{
    background-color: rgba(0, 0, 0, 0.05);
}

td
{
    min-width: 150px;
    border-bottom: 1px solid #e9ecef;
    padding: 5px;
}