@import '../../sass/global-dimensions';

.main-content__container {
  padding-top: 50px;
  margin-left: auto;
  width: $main-content-width;
}
.main-content__container.toggled {
  width: $main-content-width-toggled;
}

.main-content__summary {
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);
  padding: 0 8px;
}

.main-content__data {
  padding: 24px;
}
