.news-container
{
    margin-bottom: 20px;
}

.news-date
{
    display: flex;
    justify-content: space-between;
}

.news-link
{
    display: flex;
    flex-direction: column;
    &:hover { text-decoration: underline; }
}

.news-description
{
    margin-bottom: 15px;
}
