.main-content__container {
  padding-top: 50px;
  margin-left: auto;
  width: calc(100% - 256px);
}

.main-content__summary {
  height: 48px;
  border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);
}

.main-content__data {
  padding: 24px;
}
