.suggestions-box {
  position: absolute;
  z-index: 1;
  background: white;
  max-height: 300px;
  width: 100%;
  overflow: scroll;
  top: 50px;
}

.suggestion-li:hover {
  background: #80cbc4;
}

.suggestion-label:hover {
  cursor: pointer;
}

.stand-out {
  color: #ffa200;
}
