.too-many-calls
{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    margin-bottom: 18px;
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    width: 90%;
}

.too-many-calls__message--toggler
{
    opacity: 0.5;
}

.too-many-calls__message--toggler:hover
{
    color: black;
    cursor: pointer;
}
