html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
  box-sizing: inherit;
}

body
{
    margin: 0;

    h1,h2,h3,h4,h5,h6
    {
        margin: 0;
    }

    ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    a { text-decoration: none; }

    p { margin: 0; }
}
