// Bold
@font-face
{
    font-family: "OpenSans-Bold";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

// Extra Bold
@font-face
{
    font-family: "OpenSans-ExtraBold";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
}

// Italic
@font-face
{
    font-family: "OpenSans-Italic";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
}

// Bold Italic
@font-face
{
    font-family: "OpenSans-BoldItalic";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
}


// Extra Bold Italic
@font-face
{
    font-family: "OpenSans-ExtraBoldItalic";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

// Light
@font-face
{
    font-family: "OpenSans-Light";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}

// Light Italic
@font-face
{
    font-family: "OpenSans-LightItalic";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
}


// Regular
@font-face
{
    font-family: "OpenSans-Regular";
    src: URL("../_assets/Fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

// Semi Bold
@font-face
{
  font-family: "OpenSans-SemiBold";
  src: URL("../_assets/Fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}

// Semi Bold Italic
@font-face
{
  font-family: "OpenSans-SemiBoldItalic";
  src: URL("../_assets/Fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
