@import '../../sass/colors.scss';
@import '../../sass/global-dimensions.scss';

.sidebar {
  position: fixed;
  height: 100vh;
  width: $sidebar-width;
  border-right: $border-color;
}

.sidebar.toggled {
  width: $sidebar-width-toggled;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  border-bottom: $border-color;
}

.sidebar-header__brand {
  margin: 0;
  margin-left: 16px;
  color: #000000a7;
}

.sidebar-header__brand.toggled {
  display: none;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 48px;
  padding: 6px 12px;
}

.sidebar-footer__btn {
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: white;
}

.sidebar-footer__btn:hover {
  background-color: #bdbdbd;
  opacity: 0.5;
  cursor: pointer;
}
