.sidebar {
  position: fixed;
  height: 100vh;
  width: 280px;
  border-right: var(--border-color-gray);
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 24px;
  border-bottom: var(--border-color-gray);
}

.sidebar-brand {
  margin-left: 16px;
  font-size: 1.75rem;
  color: #000000a7;
}
