.sidebar {
  position: fixed;
  height: 100vh;
  width: 100%;
  border-right: var(--border-color-gray);
  left: -100%;
  background: #fff;
  z-index: 11;
}

.sidebar.is-open {
  animation: slidein 250ms ease-in-out forwards;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 16px;
  border-bottom: var(--border-color-gray);
}

.sidebar-brand {
  margin-left: 16px;
  font-size: 1.75rem;
  color: #000000a7;
  display: none;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 280px;
    left: 0;
  }

  .sidebar-header {
    justify-content: initial;
    padding: 0 24px;
  }

  .sidebar-btn {
    display: none;
  }

  .sidebar-brand {
    display: initial;
  }
}

@keyframes slidein {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}
