$err-border-color: #eed3d7;
$err-background-color: #f2dede;
$err-text-color: #b94a48;

.dialog-error
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border: 1px solid $err-border-color;
    color: $err-text-color;
    background-color: $err-background-color;
    border-radius: 0.25rem;
}

.dialog-error:hover
{
    cursor: pointer;
}
