.main-footer {
  margin: 0 24px;
  border-top: 1px solid #dee7f1;
}

.footer-content {
  padding: 24px;
  display: flex;
  align-items: center;
}

.footer-tagline {
  margin-left: 10px;
}

.footer-link {
  margin-left: 5px;
  color: #dda4a7;
}

.footer-link:hover {
  text-decoration: underline;
}
