.main-footer {
  margin-top: 10px;
  padding: 24px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-tagline {
  margin-left: 10px;
}

.footer-link {
  margin-left: 5px;
  color: #dda4a7;
}

.footer-link:hover {
  text-decoration: underline;
}
