.logo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3px;
}

.logo-block-1,
.logo-block-2,
.logo-block-3,
.logo-block-4
{
    height: 15px;
    width: 15px;
}

.logo-block-1
{
    background-color: rgb(34, 178, 199);
}

.logo-block-2
{
    background-color: rgb(221, 164, 167);
}

.logo-block-3
{
    background-color: rgb(162, 173, 102);
}

.logo-block-4
{
    background-color: rgb(0, 0, 0);
}
