@import '../../sass/colors';

.main-header,
.main-nav {
  height: 72px;
}

.main-header {
  background-color: white;
  border-bottom: $border-color;
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
}

.main-nav__left {
  display: flex;
  align-items: center;
  //background-color: #f1f1f1;
  //border-radius: 2px;
  //height: 48px;
  position: relative;
}

.main-nav__right {
  display: flex;
  align-items: center;
}

.main-nav__btn {
  background-color: #ef0073;
  border: 1px solid #ef0073;
  border-radius: 0.25rem;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  display: none;
}

.main-nav__btn:hover {
  box-shadow: inset 20rem 20rem rgba(26, 40, 49, 0.05);
}
