.main-header,
.main-nav {
  height: 48px;
}

.main-header {
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.main-nav {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.main-nav__middle {
  flex: 2;
}

.main-nav__right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.main-nav__login,
.main-nav__register {
  background-color: #ef0073;
  border: 1px solid #ef0073;
  border-radius: 0.25rem;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.main-nav__login:hover,
.main-nav__register:hover {
  box-shadow: inset 20rem 20rem rgba(26, 40, 49, 0.05);
}

@media (max-width: 1000px) {
  .main-nav__middle {
    margin: 0 10px;
  }

  .main-nav__right {
    display: none;
  }
}
