.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.3;
}

.btn {
  @apply font-light py-2 px-4 rounded;
  margin-left: 5px;
  display: none;
}

.btn-blue {
  background-color: #ef0073;
  color: white;
}

.btn-blue:hover {
  box-shadow: inset 20rem 20rem rgba(26, 40, 49, 0.05);
}

@media (min-width: 1024px) {
  .nav-icon {
    display: none;
  }

  .btn {
    display: initial;
  }

  .nav-menu {
    display: none;
  }
}
