.company-description
{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    font-family: "Noto Sans TC", sans-serif;
}

.company-summary
{
    padding: 20px;
}

.company-summary div
{
    width: 50%;
}

.company-summary div h2
{
    padding-bottom: 10px;
}

.company-summary div p
{
    line-height: 1.5;
}

.company-details
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding: 20px;
}

.company-details div h3
{
    padding-bottom: 10px;
}

.company-details div p
{
    padding-bottom: 10px;
}

hr
{
    margin: 0;
    width: 50%;
    margin-left: 20px;
}
