.stock-description__container
{
    background-color: white;
    font-family: "Noto Sans TC", sans-serif;
    padding-top: 30px;
    width: 90%;
    line-height: 1.25;
}

.company-description
{
    border-bottom: 1px solid rgba(187, 187, 187, 0.2);
    h2 { margin-bottom: 0.5rem; }
    p { margin-bottom: 1rem; }
}

@media screen and (min-width: 1300px)
{
    .company-description
    {
        width: 50%;
    }
}