// duplicate entries colors
$duplicate-border-color: #b8daff;
$duplicate-background-color: #cce5ff;
$duplicate-text-color: #004085;

.dialog-duplicate
{
    margin: 10px;
    padding: 10px;
}

.dialog-duplicate
{
    border: 1px solid $duplicate-border-color;
    color: $duplicate-text-color;
    background-color: $duplicate-background-color;
    border-radius: 0.25rem;
}

.dialog-duplicate__message
{
    display: flex;
    justify-content: space-between;
}

.dialog-duplicate__toggler:hover
{
    cursor: pointer;
}
