.news-title {
  margin-top: 20px;
}

.stock-news {
  margin: 10px 0;

  &:hover {
    box-shadow: var(--lrnz-box-shadow-hover);
  }
}

.news-link {
  text-decoration: underline;
  color: var(--lrnz-orange);

  &:hover {
    cursor: pointer;
  }
}
