@import '../../sass/colors.scss';

.news-container {
  padding: 0 20px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
}

.news-container:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.news-headline h2 {
  margin: 0;
  padding-top: 15px;
}

.news-summary {
  color: #0000008a;
}

.news-source {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: $border-color;
  padding-top: 15px;
}

.news-link {
  color: #ffa200;
  text-decoration: none;
}
