/*
 *
 * METRICS CONTAINER
 *
 */
.metrics-container
{
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: "Noto Sans TC", sans-serif;
}

/*
 *
 * METRICS CONTAINER FOR NAME & PRICE
 *
 */
.metrics-name__container,
.metrics-price__container
{
    width: 92%;
    margin: 0 auto;
}

.metrics-name__container
{
    margin-bottom: 6px;
}


/*
 *
 * COMPANY NAME & PRICE
 *
 */
.company-name
{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

.company-price
{
    display: inline-block;
}

.red
{
    color: rgb(247, 33, 33);
}

.green
{
    color: rgb(25, 190, 135);
}

@media screen and (max-width: 500px)
{
    .company-name
    {
        display: none;
    }
}
