/*
 *
 * METRICS CONTAINER
 *
 */
.metrics-container
{
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: "Noto Sans TC", sans-serif;
}

/*
 *
 * METRICS CONTAINER FOR NAME & PRICE
 *
 */
.metrics-name__container,
.metrics-price__container
{
    width: 80%;
    margin: 0 70px;
}

/*
 *
 * COMPANY NAME & PRICE
 *
 */
.company-name
{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

.company-price
{
    display: inline-block;
}

.red
{
    color: rgb(247, 33, 33);
}

.green
{
    color: rgb(25, 190, 135);
}

//.table-container
//{
//    margin-left: 40px;
//    margin-top: 75px;
//}
//
//table
//{
//    border-collapse: collapse;
//    text-align: center;
//    border-right: 0;
//    border-bottom: 0;
//}
//
//
//thead
//{
//    display: block;
//    border: 1px solid #495057;
//    border-left: 0;
//    border-right: 0;
//}
//
//th, td
//{
//    min-width: 188px;
//}
//
//th
//{
//    color: #495057;
//    padding: 3px;
//}
//
//tbody
//{
//    display: block;
//}
//
//tbody tr:nth-of-type(odd)
//{
//    background-color: rgba(0, 0, 0, 0.05);
//}
//
//td
//{
//    border-bottom: 1px solid #e9ecef;
//    padding: 5px;
//}
