.stock-header-container
{
    padding: 5px;
    //border: 1px solid rgba(204, 204, 204, 0.25);
    margin-left: 40px;
    margin-right: 10px;
}

.company-name
{
    margin-right: 5px;
}

.company-name,
.company-symbol
{
    font-size: 20px;
}

.company-close
{
    font-size: 32px;
    margin-right: 5px;
}

.company-change
{
    font-size: 16px;
}

.is-down
{
    color: #f72121;
}

.is-up
{
    color: #19be87;
}
