.stock-header-container {
  padding-top: 32px;
  margin: 0 46px;
}

.company-name {
  margin-right: 5px;
}

.company-name,
.company-symbol {
  font-size: 20px;
}

.company-close {
  font-size: 40px;
  margin-right: 5px;
}

.company-change {
  font-size: 20px;
}

.is-down {
  color: #f72121;
}

.is-up {
  color: #19be87;
}
