.nav-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar-start,
{
    width: 50%;
}

//@media screen and (max-width: 750px)
//{
//    .search-container
//    {
//        width: 100%;
//    }
//}
