.main-nav-section ul {
  border: 0;
}

.lrnz-logo-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .lrnz-text {
    margin: 0;
    margin-left: 20px;
  }
}

.align-collection-item {
  margin-left: 10px;
}

#collection-item-override {
  background: #20292c;
  border: 0;
  padding-left: 15px;
}
