.responsive-nav {
  top: 0;
  left: 0;
  position: absolute;
  //background: #1a282f;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.responsive-header {
  padding: 0 16px;
  height: 72px;
  border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.responsive-btn__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.responsive-btn {
  background-color: #ef0073;
  border: 1px solid #ef0073;
  border-radius: 0.25rem;
  color: white;
  padding: 10px 0;
  margin: 2px;
  text-transform: uppercase;
  margin: 5px 20px;
}
